---
import { Container } from "../../components/utils/Container";

const { frontmatter } = Astro.props;
---

<Container as="article" className="mt-24 sm:mt-32 lg:mt-40">
  <header class="mx-auto flex max-w-5xl flex-col text-center">
    <h1
      class="mt-6 font-display text-5xl font-medium tracking-tight text-slate-300 [text-wrap:balance] sm:text-6xl"
    >
      {frontmatter.title}
    </h1>
    <time
      datetime={frontmatter.date}
      class="order-first text-sm text-slate-300"
    >
      {frontmatter.date?.toLocaleDateString("de-de")}
    </time>
    <p class="mt-6 text-sm font-semibold text-slate-300">by Simon Lehmann</p>
  </header>
  <article
    class="[&>*]:mx-auto [&>*]:max-w-3xl [&>:first-child]:!mt-0 [&>:last-child]:!mb-0"
  >
    <slot />
  </article>
</Container>
