---
import Container from "../../components/utils/Container.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Home">
    <Container >
        <h1 class="mt-10 font-display text-2xl font-semibold text-slate-300">Impressum</h1>
        <h2 class="mt-3 font-display text-2xl font-semibold text-slate-300">Angaben gemäß § 5 TMG</h2>
        <p class="mt-3 marker:font-display text-slate-300">Simon Lehmann<br />Berliner Straße 22<br />60311 Frankfurt</p>
        <h2 class="mt-3 marker:font-display text-2xl font-semibold text-slate-300">Kontakt</h2>
        <p class="mt-3 marker:font-display text-slate-300">Email: Simon21lehmann@googlemail.com</p>
        <h2 class="mt-3 marker:font-display text-2xl font-semibold text-slate-300">Redaktionell verantwortlich</h2>
        <p class="mt-3 marker:font-display text-slate-300">Simon Lehmann<br />Berliner Straße 22<br />60311 Frankfurt</p>
    </Container>
</Layout>
